In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
medical_examination = pd.read_csv("G:\Otros ordenadores\Mi Portátil\Gaspar\Analisis de datos\Free code camp\Medical Data Visualizer\medical_examination.csv")

medical_examination

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

**Determination of overweight in patients**

In [3]:
# Addition of a column "overweight."

medical_examination["overweigh"] = None

In [4]:
IMC = medical_examination["weight"] / (medical_examination["height"] / 100) **2

In [5]:
#If the value is 0, the patient does not have overweight
#If the value is 1, the patient has overweight

def convert(IMC):
    if IMC > 25:
        return "1"
    else:
        return "0"

overweight = IMC.map(convert)

In [6]:
medical_examination["overweight"] = overweight

medical_examination

,id,age,sex,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,overweigh,overweight
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,None,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,None,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,None,0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,None,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0,None,1
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1,None,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1,None,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1,None,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0,None,0

In [14]:
# Normalization of data
# Whenever the value for cholesterol or glucose is 0, it means it is good; if it is 1, it means it is bad

cholesterol = medical_examination['cholesterol']

gluc = medical_examination['gluc']

In [15]:
def convert2(data):
    if data == 1:
        return "0"
    else:
        return "1"

normalized_cholesterol = cholesterol.map(convert2)

normalized_gluc = gluc.map(convert2)

In [16]:
normalized_cholesterol

0        0
1        1
2        1
3        0
4        0
        ..
69995    0
69996    1
69997    1
69998    0
69999    1
Name: cholesterol, Length: 70000, dtype: object

In [ ]:
normalized_gluc

In [ ]:
medical_examination["cholesterol"] = normalized_cholesterol

medical_examination["gluc"] = normalized_gluc

medical_examination

**Conversion of data to long format**

In [10]:
medical_examination_long_format = pd.melt(medical_examination,
                                          id_vars=["id",
                                                   "age",
                                                   "sex",
                                                   "weight",
                                                   "height",
                                                   "cardio"],
                                          var_name= "characteristics",
                                          value_name= "value")

medical_examination_long_format

           id    age  sex  weight  height  cardio characteristics value
0           0  18393    2    62.0     168       0           ap_hi   110
1           1  20228    1    85.0     156       1           ap_hi   140
2           2  18857    1    64.0     165       1           ap_hi   130
3           3  17623    2    82.0     169       1           ap_hi   150
4           4  17474    1    56.0     156       0           ap_hi   100
...       ...    ...  ...     ...     ...     ...             ...   ...
629995  99993  19240    2    76.0     168       0      overweight     1
629996  99995  22601    1   126.0     158       1      overweight     1
629997  99996  19066    2   105.0     183       1      overweight     1
629998  99998  22431    1    72.0     163       1      overweight     1
629999  99999  20540    1    72.0     170       0      overweight     0

[630000 rows x 8 columns]

In [13]:
medical_examination_long_format.loc[medical_examination_long_format["id"] == 1]

        id    age  sex  weight  height  cardio characteristics value
1        1  20228    1    85.0     156       1           ap_hi   140
70001    1  20228    1    85.0     156       1           ap_lo    90
140001   1  20228    1    85.0     156       1     cholesterol     3
210001   1  20228    1    85.0     156       1            gluc     1
280001   1  20228    1    85.0     156       1           smoke     0
350001   1  20228    1    85.0     156       1            alco     0
420001   1  20228    1    85.0     156       1          active     1
490001   1  20228    1    85.0     156       1       overweigh  None
560001   1  20228    1    85.0     156       1      overweight     1